{% extends "@MikyApp/profile_layout.html.twig" %}

{% form_theme form 'MikyAppBundle:Form:theme.html.twig' %}
{% set setting_ad = miky_settings('ad') %}


 {% block main_bar %}
     {{ form_start(form, {'attr': {'novalidate': 'true', 'data-toggle': "validator"}}) }}

     {{ form_widget(form._token) }}
     <div class="panel panel-default">
         <div class="panel-heading"><b>CATEGORIE</b></div>
         {{ form_errors(form.category) }}
         <div class="panel-body">
             {{ form_widget(form.category, {'attr': {'class': 'selectpicker', 'data-live-search': 'true'}}) }}

         </div>
     </div>

     <div class="panel panel-default">
         <div class="panel-heading"><b>INFORMATION</b></div>
         <div class="panel-body">
             <div class="form-group">
                 <label>TITRE:</label>
                 {{ form_errors(form.title) }}
                 {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

             </div>
             <div class="form-group">
                 <label>DESCRIPTION:</label>
                 {{ form_errors(form.description) }}
                 {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': "8"}}) }}
             </div>
         </div>
     </div>

     <div class="panel panel-default">
         <div class="panel-heading"><b>TAGS</b></div>
         <div class="panel-body">
             <div class="form-group">
                 {{ form_widget(form.tags, {'attr': {'class': 'form-control', 'data-role': "tagsinput", "placeholder": "Please add post tags with comma like: keyword,keyword2,keyword3"}}) }}
             </div>
         </div>
     </div>

     <div class="panel panel-default">
         <div class="panel-heading"><b>Images</b></div>
         <div class="panel-body">
             <div style="padding-bottom: 5px" class="btn-group" data-toggle="buttons">
                 <button type="button" style="
    background: #286090;
"class="btn btn-primary black" id="add-another-image"><i class="fa fa-plus"></i> Ajouter une image</button>
                 <button type="button" style="
    background: #b50810;
"class="btn btn-primary hidden" id="remove-another-image"><i class="fa fa-minus"></i> Enlever une image</button>
             </div>
             <div id="image-fields-list"
                  data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
                 {% for image in form.images %}
                     <div class="col-md-4">
                         {{ form_errors(image) }}
                         {{ form_widget(image) }}
                     </div>
                 {% endfor %}
             </div>
         </div>

     </div>

     <div class="panel panel-default">
         <div class="panel-heading"><b>ADRESSE</b></div>
         <div class="panel-body">
             <div class="form-group">
                 <label>ADRESSE:</label>

                 {{ form_widget(form.location.formattedAddress, {'id': 'user_input_autocomplete_address', 'attr': {'class': 'form-control disabled', 'placeholder': 'miky.location.please_type_address'|trans}}) }}
             </div>
             <div id="map" style="width: 100%; height: 300px; position: relative; overflow: hidden;">

             </div>
             {{ form_widget(form.location.streetNumber, {'id': 'street_number'}) }}
             {{ form_widget(form.location.street, {'id': 'route'}) }}
             {{ form_widget(form.location.postalCode, {'id': 'postal_code'}) }}
             {{ form_widget(form.location.city, {'id': 'locality'}) }}
             {{ form_widget(form.location.country, {'id': 'country'}) }}
             {{ form_widget(form.location.countryShortName, {'id': 'country_short'}) }}
             {{ form_widget(form.location.administrativeAreaLevel2, {'id': 'administrative_area_level_2'}) }}
             {{ form_widget(form.location.administrativeAreaLevel1, {'id': 'administrative_area_level_1'}) }}
             {{ form_widget(form.location.latitude, {'id': 'lat'}) }}
             {{ form_widget(form.location.longitude, {'id': 'lng'}) }}

         </div>
     </div>
     <div class="panel panel-default">
         <div class="panel-heading"><b style="text-transform: uppercase">{{ "miky.ui.price"|trans }}</b></div>
         <div class="panel-body">
             <div class="form-group col-md-5">
                 <label style="text-transform: uppercase">{{ form.price.vars.label|trans }}:</label>
                 {{ form_errors(form.price) }}
                 {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}

             </div>
             <div class="form-group col-md-5">
                 <label style="text-transform: uppercase">{{ form.quantity.vars.label|trans }}:</label>
                 {{ form_errors(form.quantity) }}
                 {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="form-group col-md-5">
                 <label style="text-transform: uppercase">{{ form.measurementUnit.vars.label|trans }}</label>
                 {{ form_errors(form.measurementUnit) }}
                 {{ form_widget(form.measurementUnit, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="form-group col-md-5">
                 <label style="text-transform: uppercase">{{ form.currency.vars.label|trans }}</label>

                 {{ form_errors(form.currency) }}
                 {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
             </div>
         </div>
     </div>
      <button class="btn btn-default" type="submit">DEPOSEZ UNE ANNONCE</button>

     </b></form>
 {% endblock %}
{% block javascripts_level_page %}

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC4qRdwcWnBSD-9E9X4mO92QxzWG5MvWwk&language={{ app.request.locale }}">
    </script>
    <script src="{{ asset('bundles/mikyapp/js/google/autocomplete.js') }}"></script>
    <script type="text/javascript">
        // keep track of how many email fields have been rendered


        jQuery(document).ready(function() {
            var maxImages = {{ setting_ad.max_image_number }};
            jQuery('#add-another-image').click(function(e) {
                if ($("#image-fields-list .col-md-4").length >= maxImages){
                    return;
                }
                e.preventDefault();

                var imageList = jQuery('#image-fields-list');

                // grab the prototype template
                var newWidget = imageList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, $("#image-fields-list .col-md-4").length);


                // create a new list element and add it to the list
                var newLi = jQuery(' <div class="col-md-4"></div>').html(newWidget);
                newLi.appendTo(imageList);
                jQuery('#remove-another-image').removeClass("hidden");
                if ($("#image-fields-list .col-md-4").length >= maxImages){
                    jQuery('#add-another-image').addClass("disabled");
                }
                setImageInput($(".image-file-input"));

            });
            jQuery('#remove-another-image').click(function(e) {
                e.preventDefault();

                $("#image-fields-list .col-md-4").get($("#image-fields-list .col-md-4").length-1).remove();
                if ($("#image-fields-list .col-md-4").length == 0){
                    jQuery('#remove-another-image').addClass("hide");
                }
                if ($("#image-fields-list .col-md-4").length < maxImages){
                    jQuery('#add-another-image').removeClass("disabled");
                }
            });
        })
    </script>



    <!-- your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission -->

    <!-- the fileinput plugin initialization -->
    <script>

    </script>
{% endblock %}