{% extends "@MikyApp/profile_layout.html.twig" %}
{% block main_bar %}

    <div class="row select" style="margin-bottom: 15px;">
        <div class="col-md-15 col-sm-12">
            <select class="form-control">
                <option>Status</option>
                <option>Publie</option>
                <option>Validation en attente</option>
                <option>En attente de paiement</option>
                <option>Rejected</option>
            </select>
        </div>
        <div class="col-md-15 col-sm-12">
            <select class="form-control">
                <option>Listing Types</option>
                <option>Lorem Ipsum</option>
                <option>Lorem Ipsum</option>
                <option>Lorem Ipsum</option>
            </select>
        </div>
        <div class="col-md-15 col-sm-12">
            <select class="form-control">
                <option>Comamnde par</option>
                <option>Titre</option>
                <option>Date</option>
                <option>ID</option>
            </select>
        </div>
        <div class="col-md-15 col-sm-12">
            <select class="form-control">
                <option>Comamnde</option>
                <option>Ordre croissant</option>
                <option>Ordre decroissant</option>
            </select>
        </div>
        <div class="col-md-15 col-sm-12 text-center">
            <a href="#" class="btn btn-default"><i class="fa fa-search"></i></a>
            <a href="#" class="btn btn-default"><i class="fa fa-repeat"></i></a>
            <a href="#" class="btn btn-default"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table items">
            <thead>
            <tr>
                <td style="width: 15%"></td>
                <td{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</td>
                <td style="width: 15%">Categories</td>
                <td style="width: 15%">Poste-le</td>
                <td style="width: 30%"></td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    {% for ad in pagination %}
        <div class="table-responsive">
            <table class="table items">
                <tbody>
                <tr>
                    <td style="width: 15%">
                        {% if ad.images is not empty %}
                            {% thumbnail ad.images[0], 'small' with {'class': 'img-responsive'} %}
                        {% endif %}
                    </td>
                    <td style="width: 25%"><a href="#"><b>{{ ad.title }}</b></a></td>
                    <td style="width: 15%"><a href="#"><b>{{ ad.category.name }}</b></a></td>
                    <td style="width: 15%">{{  ad.validatedAt|localizeddate('medium', 'none', app.request.locale)  }}</td>
                    <td style="width: 30%">
                        <a href="{{ path('adevis_app_ad_remove', {'ad': ad.id}) }}" class="btn btn-danger"><i
                                    class="fa fa-trash"></i></a>
                        <a href="{{ path('adevis_app_ad_show', {'ad': ad.id}) }}" class="btn btn-primary"><i
                                    class="fa fa-eye"></i></a>
                        <a href="{{ path('adevis_app_ad_edit', {'ad': ad.id}) }}" class="btn btn-default"><i
                                    class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tfooter">
            <span><i class="fa fa-star-o"></i> 0 (0)</span>
            <span><i class="fa fa-heart-o"></i> 3</span>
            <span><i class="fa fa-eye"></i> 38</span>
            <span class="text-primary"><i class="fa fa-thumbs-up"></i></span>
            <span class="text-success"><i class="fa fa-power-off"></i></span>
        </div>
    {% endfor %}




    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}


        </tr>


    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}