{% extends 'MikyAppBundle::layout.html.twig' %}
{% block content %}
    <div class="modal fade" id="social-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         xmlns="http://www.w3.org/1999/html">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Partager cette annonce</h4>
                </div>
                <div class="modal-body" style="padding: 30px;">
                    {% set currentPath = path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) %}
                    <div class="col-md-3">

                        <div class="fb-share-button" data-href="{{ currentPath }}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Partager</a></div>

                    </div>
                    <div class="col-md-3">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Miky {{ ad.title }}">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div class="col-md-3">
                        <script type="IN/Share" data-url="{{ currentPath }}"></script>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Signaler cette annonce</h4>
                </div>
                <div class="modal-body" style="padding: 30px;">
                   {{ form_start(formReport) }}

                    <div class="panel-body">
                        <div class="form-group">
                            <label>RAISON:</label>
                            {{ form_errors(formReport.reason) }}
                            {{ form_widget(formReport.reason, {'attr': {'class': 'form-control'}}) }}

                        </div>
                        <div class="form-group">
                            <label>PRECISION:</label>
                            {{ form_errors(formReport.body) }}
                            {{ form_widget(formReport.body, {'attr': {'class': 'form-control', 'rows': "8"}}) }}
                        </div>
                    </div>

                    {{ form_widget(formReport._token) }}
                    <button class="btn btn-default" type="submit">ENVOYER</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div id="fixed" style="position: fixed;z-index: 1000; background: white;width: 100%;">
        <small>
            <div class="address">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Accueil</a></li>
                    <li><a href="#">Français</a></li>
                    <li><a href="#">Algérie</a></li>
                    <li><a href="#">AdNum 0612</a></li>
                </ol>
            </div>
        </small>

        <div class="col-md-9">
            <div class="menu">
                <ul class="pull-left">
                    <li><a href="#index"><i class="fa fa-lg fa-home"></i> Description</a></li>
                    <li><a href="#photos"><i class="fa fa-lg fa-camera"></i> Photos</a></li>
                    <li><a href="#location"><i class="fa fa-lg fa-map-marker"></i> Localisation</a></li>
                    <li><a href="#contact"><i class="fa fa-lg fa-envelope"></i> Contact</a></li>
                    <li><a href="#notes"><i class="fa fa-lg fa-star"></i> Notations</a></li>
                </ul>
                <ul class="pull-right">
                     <li data-toggle="modal" data-target="#social-modal" class=""><a href="#"><i class="fa fa-lg fa-share-alt" style="font-size: 25px;cursor: pointer;"></i></a>
                    <li data-toggle="modal" data-target="#report-modal" class=""><a href="#"><i class="fa fa-lg fa-exclamation-circle" style="font-size: 25px;cursor: pointer;"></i></a>
                    <li class=""><a href="#"><i class="fa fa-briefcase" style="font-size: 25px;cursor: pointer;"></i>Voir la boutique</a>
                    </li>
                    {% if app.user %}
                            {% set favStatus = false %}
                            {% for favoriteAd in app.user.favoriteAds %}
                                {% if favoriteAd.id == ad.id %}{% set favStatus = true %}{% endif %}
                            {% endfor %}
                            <li data-user-id="{{ app.user.id }}" data-favorite-status="{{ favStatus }}" data-ad-id="{{ ad.id }}" class=" {% if favStatus %}heart-active
                              {% endif %} ad-favorite-button"><i style="font-size: 25px;" class="fa fa-lg fa-heart"></i>
                    </li>
                        {% endif %}
                         <div class="clearfix"></div>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3">

        </div>

        <div id="offset" class="col-md-12 border"></div>
    </div>
    <div id="index" class="col-md-9 mainbar" style="margin-top: 8%;">

        <div class="main-content">
            <img class="flag img-responsive  pull-left flag-{{ ad.location.countryShortName|lower }}"><span>{{ ad.location.countryShortName|countryName }}</span> <span
                   style="margin-left: 5px" class="date">  {{ ad.validatedAt|localizeddate('medium', 'none', app.request.locale) }}</span>


            {% if ad.certified == true %}
                <img src="{{ asset('bundles/mikyapp/imgs/certified-label.png') }}" class="img-responsive certified pull-right">
            {% endif %}


            <div class="clearfix"></div>

            <h1>{{ ad.title }}</h1>
            <p>
                {{ ad.description }}
            </p>
            <img src="{{ asset("bundles/mikyapp/imgs/google.png") }}" class="img-responsive google">
            <div class="pull-left">
                <h3>{{ ad.price }} {% if ad.currency is not null %}{{ ad.currency.shortName }}{% endif %} / {% if ad.quantity is not null %}{{ ad.quantity }}{% endif %} {% if ad.measurementUnit is not null %}{{ ad.measurementUnit.name }}{% endif %}</h3>
            </div>
            <div class="stars pull-right">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <small>[15]</small>
            </div>
            <div class="clearfix"></div>

            <div id="photos" class="title">
                <i class="fa fa-lg fa-camera"></i> Photos
            </div>
            <div class="col-md-12 photos">
                {% for media in ad.images %}
                    <div class="col-md-6">
                        {% media media, 'big' with {'class': 'img-responsive'} %}
                    </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>

            <div id="location" class="title">
                <i class="fa fa-lg fa-map-marker"></i> Localisation
            </div>
            <div class="col-md-12">
                <div id="map"></div>

            </div>
            <div class="clearfix"></div>
                <div id="contact" class="title">
                <i class="fa fa-lg fa-envelope"></i> Contact
            </div>
            <div class="col-md-12">
                {% if app.user is null %}
                <p class="red">
                   Connectez vous pour acceder a la messagerie
                </p>
                {% elseif ad.postedBy is not null and app.user.id != ad.postedBy.id  %}

                <ul class="social-contact">
                    <li><a href="#"><img src="{{ asset("bundles/mikyapp/imgs/fb.png") }}" class="img-responsive"></a></li>
                    <li><a href="#"><img src="{{ asset("bundles/mikyapp/imgs/twitter.png") }}" class="img-responsive"></a></li>
                    <li><a href="#"><img src="{{ asset("bundles/mikyapp/imgs/g+.png") }}" class="img-responsive"></a></li>
                    <li><a href="#"><img src="{{ asset("bundles/mikyapp/imgs/linkedin.png") }}" class="img-responsive"></a></li>
                    <div class="clearfix"></div>
                </ul>
                <textarea class="form-control" rows="3">Formulaire de contact</textarea>
                <p>Recevoir une copie de cette email</p>
                {% else %}
                    <p class="red">
                        Votre annonces.
                    </p>
                {% endif %}

            </div>
            <div class="clearfix"></div>


            <div id="notes" class="title">
                <i class="fa fa-lg fa-star"></i> Notations
                <div class="stars pull-right">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <small>[15]</small>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12">
                <ul class="stars pull-left">
                    <li>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star-o"></i>
                        <small>Fiabilité</small>
                    </li>
                    <li>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
                                class="fa fa-star-o"></i>
                        <small>Rapidité</small>
                    </li>
                    <li>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
                                class="fa fa-star-o"></i>
                        <small>Proffesionnalime</small>
                    </li>
                    <li>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star-o"></i>
                        <small>Reponse</small>
                    </li>
                </ul>
                <p class="pull-right">
                    Vous devez etre connecté pour rajouter un commentaire
                </p>
                <div class="clearfix"></div>
                <p>
                    <b>Bonne affaire : acheter au vendeur</b><br>
                    Consultez notre guide pour effectuer une transaction en toute sécurité ! En aucun cas Miky ne
                    peut être tenu responsable des annonces publiées. Seule la responsabilité du vendeur ou de
                    l'acheteur en cas de litige est engagée.<br>
                    Nous vous invitons à lire nos conditions générales d'utilisations. Vous pouvez aussi vous rendre sur
                    nos&nbsp;FAQet consulter notre page d'informations sur les&nbsp;risques liés à la contrefaçon.
                </p>

                <p class="red">
                    Dans la présentation des annonces, celles-ci devrons etre en miniscules, a voir pour le titre
                </p>
                 <div class="clearfix"></div>

                <div class="col-md-12 pagination">
                    <a href="#" class="disable"><i class="fa fa-lg fa-angle-double-left"></i></a>
                    <a href="#" class="btn disable">Précedente</a>
                    <a href="#" class="btn">Suivante</a>
                    <a href="#"><i class="fa fa-lg fa-angle-double-right"></i></a>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-3 sidebar">
        <img src="{{ asset("bundles/mikyapp/imgs/recsell.png")}}" class="img-responsive">
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>

    <script>
        $('a[href^="#"]').click(function(){
            var the_id = $(this).attr("href");
            $('html, body').animate({
                scrollTop:$(the_id).offset().top-200
            }, 'slow');
            return false;
        });
    </script>
    {% if ad.location.latitude is not empty and ad.location.longitude is not empty %}
        <script>
            function initMap() {
                var myLatLng = {lat: {{ ad.location.latitude }}, lng: {{ ad.location.longitude }}};

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                });
            }

        </script>
        <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6NabBNHychXDTRRF8u1c63HeqX1yvoQQ&callback=initMap"
                async defer></script>
    {% endif %}
{% endblock %}